<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Achintya Jha</title>

  <link rel="stylesheet" type="text/css" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='landing.css') }}">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Jost:ital@1&display=swap" rel="stylesheet">

  <link href="//db.onlinewebfonts.com/c/046e1373d00f74810d24a0f19010b1cc?family=BergenSans-Regular" rel="stylesheet" type="text/css"/>

  <link rel = "shortcut icon" href="static/img/title-icon-final.jpeg">

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TC477NL');</script>
  <!-- End Google Tag Manager -->

</head>


<body>

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TC477NL"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <section style="background-image: url('static/img/code-min.jpg'); background-size: cover;">

    <!-- <div class="circle"></div> -->
    <header>
      <span class="brand" style="background-color: yellow;">Achintya Jha</span>
      <!-- <div class="toggle" onclick="toggleMenu()"></div>
      <ul class="navigation">
        <li><a href="#">Home</a></li>
        <li><a href="#">Menu</a></li>
        <li><a href="#">New</a></li>
        <li><a href="#">Contact</a></li>
      </ul> -->
    </header>

        <div class="content-section">
          <h2>Hey, I am Achintya!</h2>
          <p>
            I am a highschool senior at Ahlcon International School, and I absolutely love to code. I am interested in Machine Learning and Natural Language Processing. I have been using
            python for more than three years now and I use it for almost everything. This website
            includes my portfolio and a list of all the projects I have made throughout high school. 
            <br>
            Check out the rest of the website down below, and don't forget to check out my blog! 
          </p>
          <a href="{{ url_for('main.home') }}">Explore</a>
        </div>

      <ul class="sci">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">  
        <li><a href="https://in.linkedin.com/" class="fa fa-linkedin fa-2x"></a></li>
        <li><a href="https://github.com/achintya5" class="fa fa-github fa-2x"></a></li>
        <li><a href="mailto:achintyajha05@gmail.com?subject=Questions/Concerns" class="fa fa-envelope fa-2x"></a></li>
        <li><a href="#" class="fa fa-twitter fa-2x"></a></li>
      </ul>
  </section>


</body>

</html>