{% extends "layout.html" %}
{% block content %}
  	<h1>Some FAQ's</h1>
  	<p>If you have any other queries or concerns, feel free to email me at <a style="color: #007bff"href="mailto:achintyajha05@gmail.com?subject=Questions/Concerns">achintyajha05@gmail.com</a></p>

	<article class="media blog-section">
    	<div class="media-body">
        	<h2><span class="article-title">How did you create this website?</span></h2>
            <div id="module" class="container">
            <p>
              The frontend was made using HTML, CSS and a tiny bit of javascript (typical website stuff) , and for the backend I used Flask, a micro-framework for web-development in Python.
            </p>
            <hr>
          </div>
        </div>
    </article>

 
{% endblock content %}