{% extends "layout.html" %}
{% block content %}

	<h1>High School</h1>
	<div>
      <img class="image-me img-fluid" style="width: 131px; padding: 15px; padding-left: 0px;" src="{{ url_for('static', filename='img/' + 'AchintyaPic.jpeg') }}"/>
    </div>
	<p>High school, the captain of my ship! High school has been an enriching experience. 
                I am a student at Ahlcon International School, where I have successfully involved 
                myself in many activities. From organising major in-school events to participating in 
                competitions, this has truly been an odyssey of the mind(intended).
                <br>
                Throughout this journey, 
                here's a bunch of cool stuff I did (and still doing).

    </p><br>
	<div class="list-group">
	  <a class="list-group-item list-group-item-action flex-column align-items-start">
	    <div class="d-flex w-100 justify-content-between">
	      <h5 class="mb-1">NASA Space Apps Challenge</h5>
	      <small class="text-muted">2020</small>
	    </div>
	    <p class="mb-1">National Winner</p>
	    <small class="text-muted">Our team created a website for increasing space awareness by using interactive stories and providing a digital & historical perspective on primitive as well as scientific research on greenhouse and glaciation period. </small>
	  </a>
	  <a class="list-group-item list-group-item-action flex-column align-items-start">
	    <div class="d-flex w-100 justify-content-between">
	      <h5 class="mb-1">Sakura Science Program</h5>
	      <small class="text-muted">2020</small>
	    </div>
	    <p class="mb-1">Indian Delegation</p>
	    <small class="text-muted">Part of the Indian delegation. Took part in the robotics camp and made an autonomous car with distance sensing and object detection.</small>
	  </a>
	  <a class="list-group-item list-group-item-action flex-column align-items-start">
	    <div class="d-flex w-100 justify-content-between">
	      <h5 class="mb-1">Odyssey of the Mind</h5>
	      <small class="text-muted">2015</small>
	    </div>
	    <p class="mb-1">First Place at the Nationals</p>
	    <small class="text-muted">Our team won the gold medal at the nationals in the Communication Skills category.</small>
	  </a>
	  <a class="list-group-item list-group-item-action flex-column align-items-start">
	    <div class="d-flex w-100 justify-content-between">
	      <h5 class="mb-1">Zenonco.io and Love Heals Cancer</h5>
	      <small class="text-muted">2020</small>
	    </div>
	    <p class="mb-1">Writer, Video Editor & Healing Circle Member</p>
	    <small class="text-muted">Did a 3-week internship at Zenonco and Love Heals Cancer, as a content-writer and film-maker.</small>
	  </a>
	  <a class="list-group-item list-group-item-action flex-column align-items-start">
	    <div class="d-flex w-100 justify-content-between">
	      <h5 class="mb-1">Taekwondo</h5>
	      <small class="text-muted">2014-Present</small>
	    </div>
	    <p class="mb-1">Black Belt Dan 1 and State Medallist</p>
	    <small class="text-muted">I have been doing Taekwondo for around 8 years now and throughout this period I have won three medals at State Championships and have played at the Nationals as well.</small>
	  </a>
	  <a class="list-group-item list-group-item-action flex-column align-items-start">
	    <div class="d-flex w-100 justify-content-between">
	      <h5 class="mb-1">Music & Guitar</h5>
	      <small class="text-muted">2015-Present</small>
	    </div>
	    <p class="mb-1">Trinity exams and School Band</p>
	    <small class="text-muted">I am a part of the school band, and we have performed several times for our school. I have also been taking Trinity graded exams in Rock and Pop Guitar.</small>
	  </a>
	  <a class="list-group-item list-group-item-action flex-column align-items-start">
	    <div class="d-flex w-100 justify-content-between">
	      <h5 class="mb-1">Video Editing-Film making-TV Production-Photography-Photoshop.
    	</h5>
	      <small class="text-muted">2018-Present</small>
	    </div>
	    <p class="mb-1">Internships and Projects</p>
	    <small class="text-muted">I was an intern at Myth Media, where I learned video editing, Photoshop, film-making and the state-of-the-art in this industry.</small>
	  </a>
	  <a class="list-group-item list-group-item-action flex-column align-items-start">
	    <div class="d-flex w-100 justify-content-between">
	      <h5 class="mb-1">MUNs/Debates and everything public speaking</h5>
	      <small class="text-muted">2016-Present</small>
	    </div>
	    <p class="mb-1">School and Individual Delegations</p>
	    <small class="text-muted">I have been an active participant in MUNs and debates. I have represented my school for the same and have won the Best Delegate award and many Honourable Mentions as well.</small>
	  </a>
	</div>
	<br>
	<br>
{% endblock content %}